<%= form_for(@todo_item) do |f| %>
  <% if @todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul>
      <% @todo_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
	   <%= f.label :due_date %>:
	   <%= f.date_select :due_date %><br />

	    <%= f.label :title %>:
	    <%= f.text_field :title %><br />

	     <%= f.label :description %>
	     <%= f.text_field :description %><br />
		<% if action_name == "edit"%>
	      <%= f.label :completed %>:
	      <%= f.check_box :completed %><br />
      <%end%>
    <%= f.submit %>
  </div>
<% end %>
